[Unit]
Description=geigermon service
After=network.target

[Service]
Type=simple
ExecStart=/path/to/geigermon/geigermon -s multicast bindaddr multicastaddr port sourceaddr -S file /run/user/X/geigermon.json
User=uid
Group=gid
Restart=always
RestartSec=10
TimeoutStopSec=2

[Install]
WantedBy=multi-user.target
